
/* ***Responsive media query*** */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px){ 

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) { 
    .single-sort{
        margin-left: 60px;
    }
        .calander-slider-page .col-12{
            padding-right: 10px !important;
    padding-left: 10px !important;
    }
}


@media (min-width: 992px){
    .p-left-80{
        padding-left: 85px;
    }
      .p-left-118{
        padding-left: 118px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .product-left {
        width: 240px;
    }
    .product-right{
        width: calc(100% - 260px);
    }
.navbar-nav.ml-auto li {
    padding: 0px 5px;
}
form.serach-form {
    position: relative;
    margin-left: 30px;
}
.nav-btn {
    padding: 12px 14px;
    font-size: 17px !important;
}
   input.search-button {
    padding: 11px 10px;
    padding-left: 50px;
    width: 170px;

} 
form.serach-form button {
    left: 20px;
    color: #637381;
    font-size: 17px;
}
.single-btn {
    padding: 15px 40px;
}

.detail-banner-text h2 {
    color: rgba(0,0,0,0.82);
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 5px;
}
.slick-prev.slick-arrow {
    left: -18px;

}
.slick-next.slick-arrow {

    right: -18px;

}
.prebook-fail-btn {
    margin-right: 25px;
}
.navbar-brand img {
    width: 100%;
    max-width: 150px;
}
/* calander */
.booking-card.calender-card .shedule-left span.radio-style {
        left: 16px;
        top: 0;
    }

    .booking-card .shedule-left .cal-lab {
        padding-left: 35px;
    }
    .payment-card-wrap .price-wrap {
        margin-left: 10px;
    }
    a.skl-button.cls-pre {
    padding: 13px 5px;
    font-size: 15px;
    line-height: 21px;
}
.skill-dropdwon-header p {
    font-size: 16px;
}
.booking-card.calender-card .signle-shedule {
    padding: 15px 0;
}
.booking-card.calender-card .signle-shedule label {
    font-size: 12px;

}
.booking-card.calender-card .shedule-left .cal-lab{
    padding-left: 65px;
}
}





@media (max-width: 992px){
    .product-left{
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        z-index: 9;
        padding: 15px;
        width: 280px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 10px #00000017;
                box-shadow: 0 0 10px #00000017;
        display: none;
    }

    .product-right {
        margin-left: 0px;
        width: 100%;
    }

    .product_wrap{
        padding-top: 70px;
    }

    .product-mbr-btn{
        display: inline-block;
    }
}








/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .single-sort{
        margin-left: 15px;
    }
.banner-text h1 {
    font-size: 37px;
    line-height: 50px;
    padding-bottom: 5px;
}
.banner-text p {
    font-size: 22px;
    line-height: 35px;
}

.navbar-nav.ml-auto {
    text-align: center;
}
.nav-btn {
    margin-top: 18px;
}
form.serach-form {
    position: relative;
    margin-left: 0;
    margin-top: 10px;
}
input.search-button {
    display: inline-block;
    padding: 11px 10px;
    padding-left: 74px;
    width: 180px;
}

/* .dropdown-toggle::after {
    right: 41%;
} */
.skill-button {
    padding-top: 15px;
    padding-bottom: 10px;
}
a.skl-button {
    padding: 13px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #fff;
}
.all-button-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

/* detail  */
.detail-banner-text h2 {
    font-size: 22px;
    line-height: 30px;
}
.detail-skill-wrapper {
    padding-left: 10px;
    width: 100%;
    padding-top: 20px;
}
.micro-courses-text h2 {
    color: #fff;
    font-size: 25px;
    line-height: 32px;
}

/* prebook  */
.prebook-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
}
.prebooking-fail {
    display: block;
}
.prebook-fail-btn {
    margin-right: 0;
    text-align: center;
}

.pre-book-card-body {
    padding: 30px 30px;
}
.pre-book-info h4 {
    color: #fff;
    font-size: 23px;
    line-height: 30px;
}
.pre-book-info {
    padding: 0px 20px;
}


    /* calander */
    .booking-banner {
        min-height: 500px;
        padding-left: 30px;
    }

    .booking-card.calender-card .shedule-left span.radio-style {
        left: 0;
        top: 0;
    }

    .booking-card .shedule-left .cal-lab {
        padding-left: 26px;
        font-size: 14px;
    }

    .booking-card .signle-shedule:first-child {
        padding-top: 0;
    }

    .price-wrap {
        margin-top: 10px;
    }

    .price-wrap p {
        margin-bottom: 0px;
    }
    .pc-note {
        margin-left: 15px;
    }
    .pc-note p{
        margin:0;
    }
    .payment-card-wrap .price-wrap {
        margin-right: 10px;
        margin-left: 15px;
    }
    .pc-details {
        width: 250px;
    }
    .pc-details h4 {
        font-size: 20px;
        line-height: 27px;
    }

.booking-card.calender-card .shedule-left .cal-lab {
font-size: 14px;
padding-left: 25px;
font-size: 12px;
}
.booking-card.calender-card .signle-shedule {
    padding: 12px 0px;
}

    .about-the-coursetitle {
    padding-left: 0;
}
.aboutthe-desc {
    padding-top: 27px;
    padding-bottom: 8px;
    padding-left: 0;
}
.about-the-coursetitle h4 span {
    margin-right: 5px;
}
.about-the-coursetitle h4 {
    letter-spacing: -0.2px;
}
.banner-skill-box.ml-auto.aboutskill {
    padding: 30px 20px;
}
.skill-dropdwon-header p {

    font-size: 15px;
}
a.skl-button.cls-pre {
    padding: 13px 0px;
    font-size: 13px;
}
.about-partner {
    margin-left: 0;
}
.skills-acquried {
    margin-left: 0;
}
.suggestion-heading {
    padding-top: 36px;
}
.booking-card {
    padding: 0 10px;
    padding-top: 0px;
}
}








/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
    .single-sort{
        margin-bottom: 15px;
        margin-left: 0;
    }

    .product-right {
        padding: 0 30px;
        margin-left: 0px;
        width: 100%;
    }
.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.navbar-nav.ml-auto {
    text-align: center;
}
.nav-btn {
    margin-top: 18px;
}
form.serach-form {
    position: relative;
    margin-left: 0;
    margin-top: 10px;
}
input.search-button {
    display: inline-block;
    padding: 11px 10px;
    padding-left: 74px;
    width: 180px;
}
form.serach-form i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 50px;
    color: #637381;
    font-size: 18px;
    left: 38%;
}
.banner-skill-box {
    max-width: 100%;
}
/* .dropdown-toggle::after {
    right: 41%;
} */
.footer-link {
    padding-top: 30px;
}
/* prebook  */
.prebook-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
}
.prebooking-fail {
    display: block;
}
.prebook-fail-btn {
    margin-right: 0;
    text-align: center;
}
.banner-skill-box.mx-lg-3.mx-0.odw-generic {
    max-width: 100%;
}
.navbar {

    padding: .5rem 0px !important;
}
.navbar-toggler {
    padding: 0;
}



    /*calander*/
    .cal-tabbox p {
        line-height: 20px !important;
    }

    .calender-footer .nice-select {
        width: 150px;
    }

    .prebook_btn {
        min-width: 90px;
    }

    td.fc-day-top {
        text-align: center;
        text-align: center;
    }

    td.fc-day-top span {
        float: none;
        display: inline-block;
    }

    .cal-tabbox {
        max-width: 75%;
        left: 5px
    }

    .calander-wrap {
        padding: 30px 10px;
        padding-top: 25px;
    }

    .shedule-right .cal-tabbox {
        max-width: 100px;
    }

    .shedule-left .cal-lab {
        padding-left: 40px;
    }

    .shedule-left span.radio-style {
        left: 10px;
    }

    .signle-shedule p,
    .signle-shedule label {
        font-size: 14px;
    }

    .fc-dayGrid-view .fc-body .fc-row {
        min-height: 75px;
    }

    .booking-banner {
        min-height: 400px;
    }

    .booking-banner {
        padding-left: 20px;
    }

    .booking-baner-content h4 {
        font-size: 20px;
    }

    .booking-baner-content p {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .payment-sel-det {
        padding-left: 0;
    }

    .single-pd-inp {
        margin-bottom: 20px;
    }

    .payment-det-wrap {
        padding-bottom: 10px;
    }
    .payment-card-wrap {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding-bottom: 25px;
    }
.row.mapand-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}
.about-partner {
    margin-left: 0;
}
    .about-the-coursetitle {
    padding-left: 0;
}
.skills-acquried {
    margin-left: 0;
}

.aboutthe-desc {
    padding-left: 0;
}
.suggestion-heading {
    margin-left: 0;
}
.map-section {
    padding-top: 40px;
}
.skills-acquried-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.skills-acquried-wrap .skills-acquried-card {
    margin-left: 15px;
}
.skills-acquried-wrap .skills-acquried-card {
    -webkit-box-shadow: 0px 11px 55px 10px rgba(0,0,0,0.07);
            box-shadow: 0px 11px 55px 10px rgba(0,0,0,0.07);
    margin-left: 30px;
}
.calander-wrap{
    width: 100%;
}
.main-map-img {
    margin-left: 0;
}
.main-map-img img {
    width: 100%;
    min-height: 130px;
}
.booking-card {
    margin-top: 30px;
}
.total-cost {
    margin-top: 0px;
}
.booking-card.calender-card .shedule-left span.radio-style {
    top: 0px;
}
.banner-text.diff-skill-here h2 {
padding-bottom: 10px;
}
section.banner-section {
padding-top: 30px;
}
.banner-text.diff-skill-here {
    margin-bottom: 30px;
}
.skill-card-empty-text p {
letter-spacing: 0;
}
.price-that-box {
    margin-top: 30px;
}
}

 









/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .single-sort{
        margin-bottom: 15px;
        margin-left: 0;
    }
    .single-sort:nth-child(even){
        margin-left: 15px;
    }
/*     .dropdown-toggle::after {
    right: 39%;
} */
form.serach-form i {
    left: 33%;
}
section.banner-section {
    padding: 0px 0px;
}
.banner-text h1 {
    font-size: 50px;
    line-height: 70px;
    padding-bottom: 0px;
}
.banner-text p {
    font-size: 25px;
    line-height: 35px;
}
.all-button-row {
    display: block;
    padding-top: 55px;
}
.single-btn {
    display: block;
    }
.slingle-wrp {
    text-align: center;
    padding-bottom: 20px;
}
.footer-link {
    padding-top: 30px;
}
.detail-skill-wrapper {
    padding-left: 0;
    width: 100%;
    padding-top: 50px;
}
.micro-courses-text h2 {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}
.footer-link {
    padding-top: 30px;
    text-align: center;
}
.footer-logo {
    text-align: center;
}

    /*calander*/
    .cal-tabbox p {
        line-height: 1 !important;
    }

    .cal-tabbox {
        max-width: 70px;
    }

    .shedule-right .cal-tabbox {
        max-width: 200px;
    }

    .shedule-left span.radio-style {
        top: -2px;
    }

    .cal-tabbox.bbc {
        max-width: 320px;
    }

    .paybtn {
        width: 100%;
    }
    .pc-note {
        margin-top: 25px;
    }
    .cost-more p.send-cnf {
        margin-top: 60px;
        font-size: 14px;
        line-height: 24px;
    }
    .skills-acquried-wrap .skills-acquried-card {
    margin-left: 15px;
}
.booking-card.calender-card .shedule-left span.radio-style {
left: 40px;
}
.booking-card.calender-card .shedule-left .cal-lab {
padding-left: 90px;
}
.pay-btn-wrap.text-center {
    margin: 0px 1px;
}
}









@media (min-width: 318px) and (max-width: 575.98px) { 
.all-button-row {
    display: block;
    padding-top: 0px;
}
.slingle-wrp {
    text-align: center;
    padding-bottom: 20px;
}
.footer-link {
    padding-top: 30px;
}
.banner-text h1 {
    font-size: 30px;
    line-height: 45px;
    color: #2B292D;
    padding-bottom: 0px;
}
.banner-text p {
    font-size: 20px;
    line-height: 30px;
    color: #2B292D;
    font-weight: 400;
}
.banner-skill-box {
    padding: 30px 20px;
    border-radius: 5px;
}
.skill-button {
    padding-top: 20px;
    padding-bottom: 15px;
}
a.skl-button {
    padding: 12px 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #fff;
    line-height: 20px;

}
.left-title span {
    font-size: 14px;
    line-height: 22px;
}
.right-logo img {
    width: 100%;
    max-width: 90px;
}
.single-btn {
    padding: 20px 50px;
}
.footer-link {
    padding-top: 30px;
    text-align: center;
}
.footer-logo {
    text-align: center;
}
.copyright-area {
    padding-top: 80px;
}
form.serach-form i {
    left: 19%;
}
/* .dropdown-toggle::after {
    right: 29%;
} */
.detail-banner-text h2 {
    font-size: 19px;
    line-height: 26px;
}
.detail-skill-wrapper {
    padding-left: 0;
    width: 100%;
    padding-top: 40px;
}
.micro-courses-text h2 {
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}
.navbar-brand img {
    width: 100%;
    max-width: 120px;
}
.more-btn {
    padding: 12px 80px;
    }

    /* prebook */
    .prebook-fail-btn a {
    display: inline-block;
    padding: 15px 10px;
    font-size: 14px;
}
.prebooking-fail {
    padding: 20px 15px;
}
.pre-book-summary {
    padding-top: 20px;
}
.book-summary-heading h2 {
    font-size: 24px;
    line-height: 36px;
}
.more-demand-section h2 {
    font-size: 26px;
    line-height: 30px;
}
.more-demand-section h3 {
    font-size: 24px;
    line-height: 30px;
}
.skill-card-title h2 {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
}
.skill-card-title {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 99999;
    left: 18px;
}
.pre-book-card-body {
    padding: 30px 15px;
}
span.prebook-radio-style {
    margin-right: 12px;
}
.pre-book-info {
    padding: 0px 15px;
}
.pre-book-info h4 {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}
.banner-text.diff-skill-here h2 {
    font-size: 30px;
}

    /*calander*/
    td.fc-day.fc-widget-content::before {
        width: 12px;
        height: 12px;
        left: 5px;
        top: 6px;
    }

    td.fc-day.fc-widget-content.active::after {
        left: 9px;
        top: 7px;
        font-size: 10px;
    }

    td.fc-day-top {
        padding-top: 20px;
    }

    .cal-tabbox {
        bottom: 5px;
        left: 2px;
    }

    td.fc-day-top {
        padding-right: 4px;
    }
    .pc-img img {
        width: 100%;
        height: auto;
        max-height: 300px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .pc-img {
        margin-right: 0;
    }
    .pc-details {
        width: 100%;
        margin-top: 20px;
    }
    .pc-details h4 {
        font-size: 22px;
        line-height: 28px;
    }
    .pc-note {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
    .payment-card-wrap .price-wrap {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content:center;
    }
    .payment-card-wrap .price-wrap p {
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 15px;
    }
    .pc-img {
        margin-right: 0;
        width: 100%;
    }
.about-the-coursetitle h4 span:last-child {
    margin-right: 0px;
    display: block;
    margin-top: 15px;
}
.booking-card.calender-card  .shedule-left .cal-lab {
padding-left: 60px;
}
.booking-card.calender-card  .shedule-left span.radio-style {
left: 20px;
}
.payment-first-wrap {
    display: block;
    width: 100%;
}
.price-that-box {
    display: block;
    padding: 16px 10px;
    text-align: center;
    width: 100%;
}
}




@media (min-width: 318px) and (max-width: 390.98px) { 
.skill-dropdwon-header p {
    font-size: 15px;
}
a.skl-button.cls-pre {
    padding: 12px 4px;
    font-size: 13px;
}

.skills-acquried-wrap .skills-acquried-card {
    margin-left: 15px;
}
.skills-acquried-wrap .skills-acquried-card {
    width: 120px;
}


.booking-card.calender-card .signle-shedule p, .signle-shedule label {
font-size: 12px;
}
.booking-card.calender-card .shedule-left .cal-lab {
padding-left: 35px;
font-size: 12px;
}
.booking-card.calender-card .shedule-left span.radio-style {
left: 5px;
}

}

